<!DOCTYPE html>
<html>
<head>
  <%- partial('_partial/head') %>
</head>
<body class="site">
  <%- partial('_partial/header') %>
  <main class="site-main">
   <section class="container">
    <%- body %>     
   </section>
  </main>
  <%- partial('_partial/footer') %>
</body>
</html>
