.site {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.site-main {
  flex: 1;
  padding: 2.25em 0 3em;
  // margin: 0 auto;
  // max-width: @max-layout-width;
  // padding: 0 @width-gap;
}

// .site-main > *,
.container {
  max-width: max-layout-width;
  margin: 0 auto;
  padding: 0 1.5em;
}

// .site-main > * {
//   margin-bottom: width-gap-double * 1.5;
// }
