// variables define

// media query

mobile = 'only screen and (max-width: 481px)'

///////////
// color //
///////////

color-black = #343434;
color-grey = #6C7A89;
color-green = #01b188;

color-default = color-black;
color-link = color-green;
color-link-hover = darken(color-green, 15%);
color-border = #ddd;
color-background = #fff;
color-background-code = #F6F8FA;

size-base = 10px;

///////////
// space //
///////////

width-gap = size-base * 1.5;
width-gap-double = width-gap * 2;
width-gap-half = width-gap * 0.5;

width-border = 1px;

////////////////
// typography //
////////////////

font-size-desktop = size-base * 1.8;
font-size-mobile = size-base * 1.6;


font-size-normal = 1rem;
font-size-title = 2rem;
font-size-h1 = 1.6rem;
font-size-h2 = 1.5rem;
font-size-h3 = 1.4rem;
font-size-h4 = 1.3rem;
font-size-h5 = 1.2rem;
font-size-h6 = 1.1rem;
font-size-small = 0.9rem;
font-size-smaller = 0.85rem;


font-family-web = "Manuale";
font-family-base = -apple-system, // Safari for OS X and iOS (San Francisco)
  BlinkMacSystemFont, // Chrome for OS X (San Francisco)
  "Segoe UI", // Windows
  "Roboto", // Android
  "Oxygen", // KDE // Linux
  "Ubuntu",
  "Cantarell", // GNOME
  "Fira Sans", // Firefox OS [R.I.P.]
  "Droid Sans", // Older Android
  "PingFang SC", "Hiragino Sans GB", // Chinese font for OSX and iOS
  "Microsoft Yahei", "微软雅黑", // Chinese font for Windows
  Arial, Helvetica, STHeiti, sans-serif, // Basic web fallback
  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; // Emoji

font-family = font-family-web, font-family-base;
font-family-code = "Consolas", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace;
line-height = 1.7;


////////////
// layout //
////////////

max-layout-width = 750px;
