@charset "utf-8"
@import "_nib/nib/vendor"
@import "_variables"
@import "_icon"
@import "_reset"
@import "_layout"

// main

@import "_partial/header"
@import "_partial/footer"
@import "_partial/paginator"

// post

@import "_partial/post"

// other page

@import "_partial/page"
@import "_partial/archive"
@import "_partial/link"
