.site-header {
  padding: 0.6em 0;
  // border-bottom: 1px solid #fefefe;
  box-shadow: 0 0 1px rgba(0,0,0,.2);
}

.header-wrap {
  // height: 100%;
  align-items: center;
  // justify-content: space-between;
  display: flex;
}

.logo {
  color: color-green;
  font-size: font-size-small;
  font-weight: bold;
  margin: 0;
}

.menu {
  font-size: font-size-small;
  color: color-grey;
  overflow: hidden;
  ul, li {
    margin: 0;
  }
  ul {
    display: flex;    
    list-style: none;
    padding: 0;
  }
  li {
    display: inline;
    margin-left: 1.2em;
  }
  a {
    &:hover {
      color: color-default;
    }
  }
}
