.link-group {
  margin-bottom: width-gap-double;
  ul {
    margin: 1em 0;
    font-size: font-size-small;
  }
  li {
    padding: 0.1em 0;
  }
  a {
    color: color-green;
    &:hover {
      color: darken(color-green, 5%);
    }
  }
}

.link-group-name {
  margin: 0;
  font-weight: normal;
}
